[submodule "plugins/coraline-plugin-inappbrowser"]
	path = plugins/coraline-plugin-inappbrowser
	url = https://github.com/psychogenic/coraline-plugin-inappbrowser.git
[submodule "plugins/coraline-plugin-dialog"]
	path = plugins/coraline-plugin-dialog
	url = https://github.com/psychogenic/coraline-plugin-dialog.git
